In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('Titanic Dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [6]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881138,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413493,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [2]:
df_clean = df.drop(['name','ticket', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], axis=1, inplace=True )
df_clean
# 1. Jami 
df['family_size'] = df['sibsp'] + df['parch']

# 2. sex
erkaklar_df = df[df['sex'] == 'male']
ayollar_df = df[df['sex'] == 'female']

# ERKAKLAR
X_e = len(erkaklar_df) # Jami soni
Y_e = erkaklar_df['survived'].sum() # Omon qolganlar soni
Z_e = (Y_e / X_e) * 100 # Omon qolish foizi
A_e = erkaklar_df['age'].mean() # O'rtacha yosh
B_e = erkaklar_df['fare'].mean() # O'rtacha yo'l haqi
C_e = erkaklar_df['family_size'].mean() # O'rtacha oila a'zolari

# Erkaklar sinfi taqsimoti:
P_e = (len(erkaklar_df[erkaklar_df['pclass'] == 1]) / X_e) * 100
Q_e = (len(erkaklar_df[erkaklar_df['pclass'] == 2]) / X_e) * 100
R_e = (len(erkaklar_df[erkaklar_df['pclass'] == 3]) / X_e) * 100

print(f"Erkaklar:")
print(f"- Jami soni: {X_e}")
print(f"- Omon qolganlar: {Y_e} ({Z_e:.1f}%)")
print(f"- O'rtacha yosh: {A_e:.1f}")
print(f"- O'rtacha yo'l haqi: {B_e:.2f}$")
print(f"- O'rtacha oila a'zolari: {C_e:.1f}")
print(f"- Sinf bo'yicha taqsimoti: 1-sinf: {P_e:.1f}%, 2-sinf: {Q_e:.1f}%, 3-sinf: {R_e:.1f}%  \n")



#  AYOLLAR 
X_a = len(ayollar_df) # Jami soni
Y_a = ayollar_df['survived'].sum() # Omon qolganlar soni
Z_a = (Y_a / X_a) * 100 # Omon qolish foizi
A_a = ayollar_df['age'].mean() # O'rtacha yosh
B_a = ayollar_df['fare'].mean() # O'rtacha yo'l haqi
C_a = ayollar_df['family_size'].mean() # O'rtacha oila a'zolari

# Ayollar sinfi taqsimoti:
P_a = (len(ayollar_df[ayollar_df['pclass'] == 1]) / X_a) * 100
Q_a = (len(ayollar_df[ayollar_df['pclass'] == 2]) / X_a) * 100
R_a = (len(ayollar_df[ayollar_df['pclass'] == 3]) / X_a) * 100

print(f"Ayollar:")
print(f"- Jami soni: {X_a} ")
print(f"- Omon qolganlar: {Y_a} ({Z_a:.1f}%)")
print(f"- O'rtacha yosh: {A_a:.1f}")
print(f"- O'rtacha yo'l haqi: {B_a:.2f}$")
print(f"- O'rtacha oila a'zolari: {C_a:.1f}")
print(f"- Sinf bo'yicha taqsimoti: 1-sinf: {P_a:.1f}%, 2-sinf: {Q_a:.1f}%, 3-sinf: {R_a:.1f}%")

Erkaklar:
- Jami soni: 843
- Omon qolganlar: 161 (19.1%)
- O'rtacha yosh: 30.6
- O'rtacha yo'l haqi: 26.15$
- O'rtacha oila a'zolari: 0.7
- Sinf bo'yicha taqsimoti: 1-sinf: 21.2%, 2-sinf: 20.3%, 3-sinf: 58.5%

Ayollar:
- Jami soni: 466
- Omon qolganlar: 339 (72.7%)
- O'rtacha yosh: 28.7
- O'rtacha yo'l haqi: 46.20$
- O'rtacha oila a'zolari: 1.3
- Sinf bo'yicha taqsimoti: 1-sinf: 30.9%, 2-sinf: 22.7%, 3-sinf: 46.4%